# =====================
# 🔹 Backend (Python)
# =====================
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# =====================
# 🔹 Frontend (Node)
# =====================
frontend/node_modules/

# =====================
# 🔹 Common
# =====================
.env
*.log
.DS_Store
Thumbs.db
.vscode/